* {
    font-family: poppins, sans-serif;
    font-weight: 600;
}

:root{
    --primary--color: #7849ff;
    --secondary--color: #f0f0f0;
    --destractive--color: #d80e25;
    --dark--border--color: #8B95A9;
    --light--border--color: #e5e5e5;
    --background--color: #fff;
    --primary--text: #000;
    --secondary--text: #646F87;
    --tertiary--text: #fff;
}

h2 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

p2 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000;
}

p3 {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: var(--secondary--text);
}

p4 {
    font-size: 0.75rem;
        font-weight: 600;
        line-height: 1rem;
        color: var(--secondary--text);
}